* {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
div.container {
    position: relative;
}
div.content {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url("../assets/bg_image.png");
    overflow-y: scroll;
    background-attachment: local;
}